body {
  margin-top: 105px;
  background: #d8e2dc;
  color: #0f0f0f;
  font-weight: 700;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

a {
  color: #5c6f68;
}

#showcase {
  position: relative;
  background: url("../img/roofs.jpg");
  min-height: 600px;
}

#showcase .primary-overlay {
  background: rgba(241, 186, 229, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #5c6f68 solid;
}

#team img {
  margin-top: -50px;
}
#team .card:hover {
  background: #ffcad4;
  color: #fff;
}
#team .fab {
  color: #5c6f68;
}

.paint {
  opacity: 0.6;
  height: 560px;

  margin-left: 100px;
}

.Subscribe_button {
  background: #5c6f68;
}

#about {
  background: #ffcad4;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 450px;
  }
  #showcase h1 {
    font-size: 4rem;
  }
}
